<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	<h1>Welcome to our awesome website</h1>
	<a href="/signup">Sign up</a>
	<a href="/login">Log In</a>
</body>
</html>