<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	<h1>Login </h1>
	<h2 style = "color:red">
		<% if(message) {%>
		<%= message %>
		<% }%>
	</h2>
		<form action="/login" method = "post">
			<p>
				<label for="user">Username:</label> <input type="text" name="username" id="user" autofocus>
			</p>
			<p>
				<label for="pass">Password:</label> <input type="password" name="password" id="pass">
			</p>
			<p>
				<input type="submit" value="Log In">
			</p>
		</form>
		<a href="/signup">Don't have an account? Create one here</a>	
</body>
</html>
	