<form action="info/results">
	<p>
		<label for="movie">Movie:</label>
		<input type="text" name="query" id="movie" autofocus>
	</p>
	<p>
		<input type="submit" value="Search">
	</p>
</form>

<%= link_to ("See my favorites"), (favorites_path) %>

