<% if @results == nil %>
    <p>
      That movie title doesn't exist!
    </p>
<%else%>

    <% @results.each do |x| %>
        <p>
        	 <a href="/info/<%=x["imdbID"]%>"><%= x["Title"] %></a>
        </p>
        <p>
        	<%= x["Year"] %>
        </p>

      <% end %>
    <%end%>

<%= link_to "Search Again", (info_index_path) %>