<!doctype html>
<html>
  <head>
  </head>
  <body>
     <form method="post" action="/books">
        <input type="text" name="book[title]"><br>
        <input type="text" name="book[author]"><br>
        <textarea name="book[description]">
        </textarea><br>
        <button>Save Book</button>
      </form>
  </body>
</html>