<div ng-controller="PersonCtrl">
   <form ng-submit="handleSubmit()">
    <div>
      <input ng-model="person.firstName">
    </div>
    <div>
      <input ng-model="person.lastName">
    </div>
    <button>Save</button>
  </form>

  <div ng-repeat="person in people">
    {{ person.firstName }} {{person.lastName}}
  </div>
</div>
