<!-- show.html.erb -->

<div class="container">
  <div class="row">
    <div class="col-xs-offset-4 col-xs-4">
      <h2><%= @creature.name %></h2>
      <p>
        <%= @creature.description %>
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-offset-4 col-xs-4">
      <h2><%= @comment.title%></h2>
      <p>
        <%= @comment.body %>
      </p>
    </div>
  </div>
</div>